<main>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" >

    <div class="email-senha">

      <div class="texto-email">   <label for="email"> Email: </label> </div> 
        <input type="email" name="email" id="email" [(ngModel)]="loginModel.email">
    
     <div class="texto-senha">   <label for="senha"> Senha: </label>  </div>  
        <input type="password" id="senha" name="senha"  [(ngModel)] ="loginModel.senha">
    </div>
    
    <button type="submit">Enviar</button>

    <p> id="mensagem" *ngIf=" mensagem !=''">{{mensagem}}</p>

</form>
</main>